     * {font-family: "Montserrat", sans-serif; 
margin:0;
padding:0;
box-sizing: border-box;
}

header{
margin:44px 0 144px 76px;
}
.link-header{
font-weight: 600;
font-size: 24px;
line-height: normal;
color:#989D9C;
cursor:pointer;
margin-right:23px;
}

.button-header{
background: #6FBF44;
border-radius:6px;
width:130px;
height:41px;
border:none;
font-weight: 600;
font-size: 24px;
line-height:normal;
color: #FFF;
cursor: pointer;

}




.img-1{
width:568px;
height:500px;
margin-left:125px;
display:inline-block;

}

section {
display:inline-block;
margin-left:85px;
width:515px;
}

h1 {
font-weight:900px;
font-size:62px;
line-height:82px;
letter-spacing: 0.596px;
color:#161A49;    
}

p {
font-weight:400;
font-size:24px;
line-height:30px;
color:#848454;
height:auto;
margin-top:32px;
margin-bottom:65px;
}
.button-main {
border-radius: 30px;
background:#6FBF44;
width: 239px;
height: 64px;
border:none;
cursor: pointer;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
font-weight: 700;
font-size: 28px;
line-height:34px;
color: #000;
}